* {
  margin: 0;
  padding: 0;
  font-family: Courier, monospace;
  box-sizing: border-box;
}
.hero { 
    color: white;
    height: 100vh;
    width: 100%;
    background-image: url(images/geo.jpg);
    background-size: cover;
    background-position: center;
}
.skills {
    color:#f57e42;
    margin-left: 14px;
    margin-top: 50px;
}
.content {
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding-top: 185px;
    margin: 20px 20px;
}
}
.logo {
    display: flex;
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 8%;
    cursor: pointer;
}
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 8%;
}
h1 {
    font-size: 35px;
    margin: 10px 0px;
    display:inline-block;
}
span {
    color: #f57e42;
}
nav ul li {
    list-style-type: none;
    display: inline;
    padding: 10px 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover {
    color: #f57e42;
}
h1 {
    color:#f57e42;
}
h3 {
    padding-top: 20px;
}
h5 {
    color: white;
    font-size: 20px;
    margin-left: 25px;
    padding-top: 70px;
}
a {
    text-decoration: none;
    color: white;
}
.container {
    margin: 1px 10px;
}
/* pic of me */
.pic {
  position: absolute;
  width: 100%;
  max-width: 180px;
  height: auto;
  margin-left: 20%;
  margin-top: 30px;
  border-radius: 10px;
}
/* about me text */
.about {
    color: white;
    flex-wrap: wrap;
    padding-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    
}
/* animation/video*/
.section {
    position: absolute;
    top: 20px;
    left: 5px;
}
/* blog images/text */
.blogpic {
    display: flex;
    margin-top: 15px;
    border-radius: 4px;
}
.blog {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: transform .4s;
}
.blog:hover {
     transform: scale(1.2);

}
p {
    padding-left: 10px;
    margin-top: 15px;
}
/* contact.html */
label {
    color: white;
    margin-left: 20px;
}
input[type=text] {
    display: flex;
    width: 100%
    padding: 20px 20px;
    margin: 8px 0;
    margin-left: 10px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: grey;
}
input:hover {
    background-color: whitesmoke;
}
.message{
    padding: 70px 20px;
}
input[type=submit] {
    width: 20%;
    font-weight: bold;
    color:black;
    background-color: grey;
    margin: 20px 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: transform .4s;
}
input[type=submit]:hover {
    background-color:whitesmoke;
    transform: scale(1.2);
}
}
#msg {
    padding: 70px 80px;
    margin-left: 20px;
    margin-top: 20px;
}
.contact {
    padding-top: 30%;
}
article{
    padding-top: 40px;
}
.btn {
    background-color: white;
    color: black;
    font-size: 2vw;
    transition: color 0.2s;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    transition: transform .4s;
    bottom: 35px;
    left: 45.3%;
}
.btn:hover {
    background-color:#f57e42;
    transform: scale(1.2);
}
.social-github {
    color: white;
    font-size: 3vw;
    transition: color .4s;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: 40%;
}
.social-linkedin {
    color: white;
    font-size: 3vw;
    position: absolute;
    bottom: 20px;
    left: 55%;
    transition: color .4s;
}
.social-github:hover, .social-linkedin:hover {
    color:#f57e42;
    transform: scale(1.2);
}
.blogpic-12345 {
    border-radius: 10px;
    margin-left: 50px;
}

@media screen and (max-width: 600px) {
  .skills, .logo, .content  {
    font-size: 5vw;
  }
      
ul li {
    font-size: 3vw;
  }
  .btn {
      position: absolute;
      bottom: 25px;
  }
  .social-github, .social-linkedin {
    max-width: 100%;
    height: auto;
    width: auto\9;
  }
  input[type=text] {
    display: flex;
    width: 70%;
  }
  .blogpic-12345 {
    margin: 300px 300px;
}
.blogpic-12345{
    margin: 10px 20px;
}
}
@media screen and (min-width: 800px) {
   .about, .content {
       margin: 100px 300px;
   }
   .container {
    margin: 30px 300px;
   }
   .contact {
       margin: 8px 250px;
       padding: 240px;
   }
   h1, h3, h4 {
       margin: 20px 200px;
       padding-left: 40px;
   }
   input[type=text] {
    display: flex;
    width: 100%;
}

}
@media screen and (min-width: 600px) and (max-width: 800px) {
    .about, .content {
    margin: 50px 100px;
   }
    .contact {
       margin: 20px 110px;
   }
   .container {
    margin: 40px 50px;
   }
   input[type=text] {
    display: flex;
    width: 100%
  }
  .btn {
      margin-bottom: -8px;
  }
  .content {
      margin: 150px 190px;
  }

}
