* {
  margin: 0;
  padding: 0;
  font-family: Courier, monospace;
  box-sizing: border-box;
}
section {
  width: 100%;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero {
    height: 100vh;
    width: 100%;
    background-image: url(images/blue.jpeg);
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    cursor: pointer;
}
h1 {
    font-size: 57px;
}
span {
    color: #f57e42;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover {
    color: #f57e42;
}
.content {
    color: white;
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 300px;
    padding-left: 500px;
}
.btn {
    background-color:#f57e42;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover {
    transform: scale(1.2);
}
.section {
    display: block;
    position: absolute;
    top: 80px;
    left: 180px;
    border-radius: 100%
    padding: 10px 10px;
  }
  p {
    color: white;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-right: 300px;
  }

  @media only screen and (max-width:400px) {
      .btn {
          
      }
      }
      /*nav ul {
          width: 100%
          position: absolute;
          top: 75px;
          right: 0;
          z-index: 2;
      }
      /*nav ul li {
          display: block;
          margin-top: 10px;
          margin-bottom: 10px;
      }
  }